.current-info {
  background-color: #fff;
  margin-left: 16px;
  width: 500px;
  :global {
    .text-row {
      display: flex;
      padding: 16px;

      .row-item-left {
        flex-shrink: 0;
        text-align: right;
        width: 80px;

        &::after {
          content: ':';
          position: relative;
          margin-block: 0;
          margin-inline-start: 2px;
          margin-inline-end: 8px;
        }
      }

      .row-item-right {
        word-break: break-all;
      }
    }
  }
}
